
body{
background:#B3B3B3;
font-size:150%;
margin:4%;
}
h1{
color:#FFFFFF;

}
header,footer{
text-align:center;
background: linear-gradient(#666666 0%,#00b7ea 100%);
}
h2{
color:#666666;
background:#00b7ea;
}
nav{
font-variant:small-caps;
font-size:150%;
font-family:Arial;

}
nav a{
width:22%
display:inline-block;
background:#ffffff;
}


.half{
width:45%;
margin-right:2%;
display:inline-block;
float:left;
}


.whole{
clear:both;
}


summary{
font-style:normal;
}
details{
font-style:italic;
}

footer{
	
	clear: both;
}


